# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Credentials & Secrets
.env
.env.*
secrets.yaml
*.pem
*.key

# Google Cloud
.gcloud/

# OS/IDE
.DS_Store
.idea/
.vscode/
*.swp
*.bak

# Node (if any)
node_modules/
npm-debug.log*
