{{- $crossplaneNamespace := .Values.crossplaneNamespace | default "crossplane-system" -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
    name: crossplane-provider-gcp
rules:
    -   apiGroups:
            -   "sql.gcp.upbound.io"
            -   "storage.gcp.upbound.io"
            -   "compute.gcp.upbound.io"
            -   "cloudplatform.gcp.upbound.io"
        resources: ["*"]
        verbs: ["*"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
    annotations:
        argocd.argoproj.io/sync-wave: "-40"
    labels:
        rbac.crossplane.io/aggregate-to-crossplane: "true"
    name: crossplane-provider-kubernetes
rules:
    -   apiGroups: [""]
        resources: ["configmaps", "secrets", "serviceaccounts"]
        verbs: ["create", "delete", "get", "list", "patch", "update", "watch"]
    -   apiGroups: ["batch"]
        resources: ["jobs"]
        verbs: ["create", "delete", "get", "list", "patch", "update", "watch"]
    -   apiGroups: [""]
        resources: ["namespaces"]
        verbs: ["get", "list"]
    -   apiGroups: ["elasticsearch.k8s.elastic.co"]
        resources: ["*"]
        verbs: ["*"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
    annotations:
        argocd.argoproj.io/sync-wave: "-40"
    name: crossplane-provider-kubernetes-binding
roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: ClusterRole
    name: crossplane-provider-kubernetes
subjects:
    -   kind: ServiceAccount
        name: provider-kubernetes
        namespace: {{ $crossplaneNamespace }}
