---
# 10. Elasticsearch
apiVersion: kubernetes.m.crossplane.io/v1alpha1
kind: Object
metadata:
  name: {{ $xr.metadata.name }}-es
  annotations:
    gotemplating.fn.crossplane.io/composition-resource-name: elasticsearch-cluster
    crossplane.io/external-name: es
spec:
  forProvider:
    manifest:
      apiVersion: elasticsearch.k8s.elastic.co/v1
      kind: Elasticsearch
      metadata:
        name: es
        namespace: {{ $namespace }}
      spec:
        version: {{ $xr.spec.search.engineVersion | default "8.12.0" }}
        nodeSets:
        - name: default
          count: {{ $xr.spec.search.instanceCount | default 1 }}
          config:
            node.store.allow_mmap: false
            xpack.security.authc.anonymous:
              username: anonymous_user
              roles: superuser
              authz_exception: true
          podTemplate:
            spec:
              initContainers:
              - name: install-plugins
                command:
                - sh
                - -c
                - |
                  bin/elasticsearch-plugin install --batch analysis-icu
                  bin/elasticsearch-plugin install --batch analysis-kuromoji
                  bin/elasticsearch-plugin install --batch analysis-smartcn
                  bin/elasticsearch-plugin install --batch analysis-stempel
              containers:
              - name: elasticsearch
                env:
                - name: ES_JAVA_OPTS
                  value: "-Xms{{ $xr.spec.search.heapSize | default "2g" }} -Xmx{{ $xr.spec.search.heapSize | default "2g" }}"
                {{- if $xr.spec.search.env }}
                {{- range $xr.spec.search.env }}
                - name: {{ .name }}
                  value: {{ .value | quote }}
                {{- end }}
                {{- end }}
                resources:
                  requests:
                    memory: {{ $xr.spec.search.memory | default "4Gi" }}
                  limits:
                    memory: {{ $xr.spec.search.memory | default "4Gi" }}
          volumeClaimTemplates:
          - metadata:
              name: elasticsearch-data
            spec:
              accessModes:
              - ReadWriteOnce
              resources:
                requests:
                  # Reduce from 20Gi to 10Gi to save SSD quota
                  storage: {{ $xr.spec.search.storageSize | default "10Gi" }}
              storageClassName: standard-rwo
        http:
          tls:
            selfSignedCertificate:
              disabled: {{ $xr.spec.search.tlsDisabled | default true }}
