affinity: {}
annotations: {}
autoscaling:
    annotations: {}
    enabled: false
    maxReplicas: 100
    metrics:
        -   resource:
                name: cpu
                target:
                    averageUtilization: 80
                    type: Utilization
            type: Resource
    minReplicas: 1
configmap:
    annotations: {}
    data: {}
    overrideDefaults: false
customEnv: {}
customEnvFrom: {}
customInitContainers:
    x-liferay-prepopulate-data:
        -   containerTemplate: |
                -   command:
                        -   bash
                        -   -c
                        -   |
                                rm -fr /temp/liferay/liferay.pid 2>/dev/null

                                mkdir -p /temp/liferay

                                touch /temp/liferay/liferay.pid

                                if [ ! -d /temp/liferay/data ] || [ -z "$(ls -A /temp/liferay/data)" ]
                                then
                                    mkdir -p /temp/liferay/data

                                    cp -frv /opt/liferay/data/* /temp/liferay/data
                                fi

                                if [ ! -d /temp/liferay/glowroot ] || [ -z "$(ls -A /temp/liferay/glowroot)" ]
                                then
                                    mkdir -p /temp/liferay/glowroot

                                    cp -frv /opt/liferay/glowroot/* /temp/liferay/glowroot
                                fi

                                if [ ! -f /temp/tomcat/conf/server.xml ]
                                then
                                    mkdir -p /temp/tomcat/conf

                                    cp /opt/liferay/tomcat/conf/logging.properties /temp/tomcat/conf/logging.properties

                                    echo -e "\norg.apache.catalina.tribes.membership.cloud.level=SEVERE" >> /temp/tomcat/conf/logging.properties

                                    cat /opt/liferay/tomcat/conf/server.xml | sed '/<!--.*-->/d' | sed '/<!--/,/-->/d' > /temp/tomcat/conf/server.xml

                                    IFS='' read -r -d '' SERVER_XML_CLUSTER <<EOF
                                    <Cluster className="org.apache.catalina.ha.tcp.SimpleTcpCluster">
                                        <Manager className="com.liferay.support.tomcat.session.LiferayDeltaManager" />
                                        <Channel className="org.apache.catalina.tribes.group.GroupChannel">
                                            <Membership
                                                className="org.apache.catalina.tribes.membership.cloud.CloudMembershipService"
                                                membershipProviderClassName="org.apache.catalina.tribes.membership.cloud.DNSMembershipProvider"
                                            />
                                            <Sender className="org.apache.catalina.tribes.transport.ReplicationTransmitter">
                                                <Transport
                                                    className="org.apache.catalina.tribes.transport.nio.PooledParallelSender"
                                                    timeout="300000"
                                                />
                                            </Sender>
                                        </Channel>
                                    </Cluster>
                                EOF

                                    sed -i '/<Engine/r'<(echo "${SERVER_XML_CLUSTER}") /temp/tomcat/conf/server.xml
                                fi

                                if [ -d /opt/liferay/deploy ] && [ -z "$(ls -A /temp/liferay/deploy/*license* 2>/dev/null)" ]
                                then
                                    if [ ! -d /temp/liferay/data/license ] || [ -z "$(ls -A /temp/liferay/data/license/*.li)" ]
                                    then
                                        mkdir -p /temp/liferay/deploy

                                        cp -fv /opt/liferay/deploy/* /temp/liferay/deploy
                                    fi
                                fi
                    image: {{ printf "%s:%s" .image.repository (.image.tag | toString) }}
                    imagePullPolicy: {{ .image.pullPolicy }}
                    name: liferay-prepopulate-data
                    volumeMounts:
                        -   mountPath: /temp
                            name: liferay-persistent-volume
    x-liferay-wait-on-services:
        -   containerTemplate: |
                -   command:
                        -   bash
                        -   -c
                        -   |
                                trap "echo 'Received signal to terminate.'; exit 0" SIGINT SIGTERM

                                {{- $liferayname := .liferayname }}
                                {{- range $k, $v := .dependencies }}
                                    {{- if eq $v.source "statefulset" }}
                                        until timeout 2 bash -c '</dev/tcp/{{ $liferayname }}-{{ $k }}/{{ (index $v.statefulset.service.ports 0).port }}' 2>/dev/null
                                        do
                                            echo "Waiting for {{ $liferayname }}-{{ $k }}..."

                                            sleep 2
                                        done
                                    {{- end }}
                                {{- end }}
                    image: {{ printf "%s:%s" .image.repository (.image.tag | toString) }}
                    imagePullPolicy: {{ .image.pullPolicy }}
                    name: liferay-wait-on-services
customLabels:
    origin: liferay-cloud
customPorts: {}
customPullSecrets: {}
customServicePorts: {}
customVolumeClaimTemplates: {}
customVolumeMounts: {}
customVolumes: {}
dependencies: {}
env:
    -   name: DNS_MEMBERSHIP_SERVICE_NAME
        value: liferay-default-headless
    -   name: LIFERAY_CLUSTER_PERIOD_LINK_PERIOD_BIND_PERIOD_ADDR_OPENBRACKET__QUOTE_CLUSTER_MINUS_LINK_MINUS_CONTROL_QUOTE__CLOSEBRACKET_
        value: ${env.POD_IP}
    -   name: LIFERAY_CLUSTER_PERIOD_LINK_PERIOD_BIND_PERIOD_ADDR_OPENBRACKET__QUOTE_CLUSTER_MINUS_LINK_MINUS_UDP_QUOTE__CLOSEBRACKET_
        value: ${env.POD_IP}
    -   name: LIFERAY_PORTAL_PERIOD_INSTANCE_PERIOD_INET_PERIOD_SOCKET_PERIOD_ADDRESS
        value: ${env.POD_IP}:8080
    -   name: LIFERAY_TOMCAT_SESSION_REPLICATION_ENABLED
        value: "true"
    -   name: POD_APP
        valueFrom:
            fieldRef:
                fieldPath: metadata.labels['app.kubernetes.io/name']
    -   name: POD_IP
        valueFrom:
            fieldRef:
                fieldPath: status.podIP
    -   name: POD_NAME
        valueFrom:
            fieldRef:
                fieldPath: metadata.name
    -   name: POD_NAMESPACE
        valueFrom:
            fieldRef:
                fieldPath: metadata.namespace
envFrom:
    -   secretRef:
            name: liferay-default
fullnameOverride: ""
image:
    pullPolicy: IfNotPresent
    pullSecrets: []
    repository: liferay/dxp
    tag: latest
ingress:
    annotations: {}
    className: ""
    enabled: false
    rules: []
    tls: []
initContainers: []
livenessProbe:
    failureThreshold: 3
    httpGet:
        path: /c/portal/robots
        port: http
    initialDelaySeconds: 60
    periodSeconds: 30
    timeoutSeconds: 5
nameOverride: ""
nodeSelector: {}
overlay:
    bucketName: ""
    bucketPath: ""
    dirs: []
    enabled: false
podAnnotations: {}
podLabels: {}
podSecurityContext:
    fsGroup: 1000
    runAsNonRoot: true
    runAsUser: 1000
portalBundleDenyList: []
portalComponentDenyList: []
portalProperties:
ports:
    -   containerPort: 4000
        name: glowroot
        protocol: TCP
    -   containerPort: 7800
        name: cluster
        protocol: TCP
    -   containerPort: 8000
        name: debug
        protocol: TCP
    -   containerPort: 8080
        name: http
        protocol: TCP
pullSecrets: []
readinessProbe:
    failureThreshold: 2
    httpGet:
        path: /c/portal/robots
        port: http
    initialDelaySeconds: 0
    periodSeconds: 10
    timeoutSeconds: 5
replicaCount: 1
resources: {}
schedulingGates: []
securityContext:
    capabilities:
        drop:
            -   ALL
    readOnlyRootFilesystem: true
service:
    annotations: {}
    ports:
        -   name: cluster
            port: 7800
            protocol: TCP
            targetPort: cluster
        -   name: http
            port: 8080
            protocol: TCP
            targetPort: http
    type: ClusterIP
serviceAccount:
    annotations: {}
    automount: true
    create: true
    name: ""
    role:
        annotations: {}
        rules:
            -   apiGroups:
                    -   ""
                resources:
                    -   configmaps
                verbs:
                    -   "*"
startupProbe:
    failureThreshold: 90
    httpGet:
        path: /c/portal/robots
        port: http
    initialDelaySeconds: 60
    periodSeconds: 10
    timeoutSeconds: 5
tolerations: []
updateStrategy:
    type: RollingUpdate
volumeClaimTemplates:
    -   metadata:
            name: liferay-persistent-volume
        spec:
            accessModes:
                -   ReadWriteOnce
            resources:
                requests:
                    storage: 1Gi
volumeMounts:
    -   mountPath: /opt/liferay/data
        name: liferay-persistent-volume
        subPath: liferay/data
    -   mountPath: /opt/liferay/deploy
        name: liferay-persistent-volume
        subPath: liferay/deploy
    -   mountPath: /opt/liferay/glowroot
        name: liferay-persistent-volume
        subPath: liferay/glowroot
    -   mountPath: /opt/liferay/liferay.pid
        name: liferay-persistent-volume
        subPath: liferay/liferay.pid
    -   mountPath: /opt/liferay/logs
        name: liferay-persistent-volume
        subPath: liferay/logs
    -   mountPath: /opt/liferay/metrics
        name: liferay-persistent-volume
        subPath: liferay/metrics
    -   mountPath: /opt/liferay/osgi/client-extensions
        name: liferay-persistent-volume
        subPath: osgi/client-extensions
    -   mountPath: /opt/liferay/osgi/configs
        name: liferay-persistent-volume
        subPath: osgi/configs
    -   mountPath: /opt/liferay/osgi/configs/com.liferay.portal.k8s.agent.configuration.PortalK8sAgentConfiguration.config
        name: liferay-configmap
        subPath: com.liferay.portal.k8s.agent.configuration.PortalK8sAgentConfiguration.config
    -   mountPath: /opt/liferay/osgi/modules
        name: liferay-persistent-volume
        subPath: osgi/modules
    -   mountPath: /opt/liferay/osgi/state
        name: liferay-persistent-volume
        subPath: osgi/state
    -   mountPath: /opt/liferay/portal-cloud.properties
        name: liferay-configmap
        subPath: portal-cloud.properties
    -   mountPath: /opt/liferay/portal-ext.properties
        name: liferay-configmap
        subPath: portal-ext.properties
    -   mountPath: /opt/liferay/reports
        name: liferay-persistent-volume
        subPath: liferay/reports
    -   mountPath: /opt/liferay/routes
        name: liferay-persistent-volume
        subPath: liferay/routes
    -   mountPath: /opt/liferay/tomcat/conf/logging.properties
        name: liferay-persistent-volume
        subPath: tomcat/conf/logging.properties
    -   mountPath: /opt/liferay/tomcat/conf/server.xml
        name: liferay-persistent-volume
        subPath: tomcat/conf/server.xml
    -   mountPath: /opt/liferay/tomcat/logs
        name: liferay-persistent-volume
        subPath: tomcat/logs
    -   mountPath: /opt/liferay/tomcat/temp
        name: liferay-persistent-volume
        subPath: tomcat/temp
    -   mountPath: /opt/liferay/tomcat/work
        name: liferay-persistent-volume
        subPath: tomcat/work
    -   mountPath: /opt/liferay/unicast.xml
        name: liferay-configmap
        subPath: unicast.xml
    -   mountPath: /opt/liferay/work
        name: liferay-persistent-volume
        subPath: liferay/work
    -   mountPath: /tmp
        name: liferay-persistent-volume
        subPath: system/tmp
    -   mountPath: /usr/local/liferay/scripts/pre-configure/000_jdk_java_options.sh
        name: liferay-configmap
        subPath: 000_jdk_java_options.sh
    -   mountPath: /usr/local/liferay/scripts/pre-configure/010_install_prometheus_jmx_agent.sh
        name: liferay-configmap
        subPath: 010_install_prometheus_jmx_agent.sh
volumes:
    -   configMap:
            name: liferay-default
            optional: true
        name: liferay-configmap