{{- if .Values.autoscaling.enabled }}
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
    {{- with .Values.autoscaling.annotations }}
    annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    labels:
        {{- include "liferay.labels" . | nindent 8 }}
    name: {{ include "liferay.name" . }}
    namespace: {{ include "liferay.namespace" . }}
spec:
    {{- with .Values.autoscaling.behavior }}
    behavior:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    maxReplicas: {{ .Values.autoscaling.maxReplicas }}
    {{- with .Values.autoscaling.metrics }}
    metrics:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    minReplicas: {{ .Values.autoscaling.minReplicas }}
    scaleTargetRef:
        apiVersion: apps/v1
        kind: StatefulSet
        name: {{ include "liferay.name" . }}
{{- end }}