{{- if not (lookup "v1" "Secret" (include "liferay.namespace" .) (include "liferay.name" .)) }}
apiVersion: v1
data:
    LIFERAY_DEFAULT_PERIOD_ADMIN_PERIOD_PASSWORD: {{ randAlphaNum 32 | b64enc | quote }}
kind: Secret
metadata:
    annotations:
        helm.sh/resource-policy: keep
        {{- with .Values.configmap.annotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    labels:
        {{- include "liferay.labels" . | nindent 8 }}
    name: {{ include "liferay.name" . }}
    namespace: {{ include "liferay.namespace" . }}
type: Opaque
{{- end }}